/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  width: 1440px;
  height: 5530px;
  background-color: #ffffff;
}

/* HEADER */

/* Navbar */

/* .container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 1280px;
    height: 51px;
    left: 80px;
    top: 40px;
  background-color: aqua;
}

.container .navbar .logo img{
  position: static;
  width: 78.08px;
  left: calc(50% - 78.08px/2);
  top: 3.51%;
  bottom: 3.51%;
  
  
  
} */

