.container footer
    margin-right: auto
    margin-left: auto
    position: absolute
    width: 1440px
    height: 598px
    top: 4932px
    background: rgba(236, 235, 255, 0.6)
    z-index: -1
    .contentFooter 
        display: flex
        flex-direction: row
        align-items: flex-start
        padding: 0px
        position: absolute
        width: 900px
        height: 212.55px
        left: 270px
        top: 244.54px
        .product, .company, .support, .socialMedia
            margin-right: 165px
            position: static
            width: 97px
            height: 206px
            left: 0px
            top: 0px
            h3 
                position: absolute
                width: 69px
                height: 24px
                left: 0px
                top: 0px
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 600
                font-size: 18px
                line-height: 24px
                color: #2F2E41
            a 
                position: absolute
                height: 26px
                left: 0
                text-decoration: none
                font-family: Open Sans
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 26px
                color: #717082
            a:nth-of-type(1)
                width: 97px
                top: 44px
            a:nth-of-type(2)
                width: 65px
                top: 78px
            a:nth-of-type(3)
                width: 51px
                top: 112px
            a:nth-of-type(4)
                width: 31px
                top: 146px
            a:nth-of-type(5)
                width: 77px
                top: 180px
        .company 
            position: static
            width: 101px
            left: 262px
            h3 
                width: 83px
                left: 263px
            a 
                left: 262px
            a:nth-of-type(1)
                width: 46px
                top: 44px
            a:nth-of-type(2)
                width: 33px
                top: 78px
            a:nth-of-type(3)
                width: 88px
                top: 112px
            a:nth-of-type(4)
                width: 97px
                top: 146px
            a:nth-of-type(5)
                width: 101px
                top: 180px
        .support 
            position: static
            width: 87px
            left: 528px
            h3 
                width: 70px
                left: 528px
            a 
                left: 528px
            a:nth-of-type(1)
                width: 87px
                top: 44px
            a:nth-of-type(2)
                width: 80px
                top: 78px
        .socialMedia
            position: static
            width: 120px
            left: 780px
            h3 
                width: 107px
                left: 781px
            i 
                position: absolute
                font-size: 32px
                width: 32px
                height: 32px
                top: 44px
                color: grey
            i:nth-of-type(1)
                left: 780px
            i:nth-of-type(2)
                left: 824px
            i:nth-of-type(3)
                left: 868px
    .bottomInfo
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
        padding: 0px
        position: absolute
        width: 1280px
        height: 23.3px
        left: 80px
        top: 534.57px
        img 
            position: static
            width: 60px
            height: 23.3px
            left: 0px
            top: 0px
        p 
            position: static
            width: 190px
            height: 16px
            left: 1090px
            top: 0px
            font-family: Open Sans
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 16px
            color: #9893A3


@media (max-width: 768px) 
    .container footer
        position: absolute
        width: 768px
        height: 406px
        top: 7174px
        .contentFooter 
            width: 687px
            height: 211.12px
            left: 41px
            top: 76px
            // .product, .company, .support, .socialMedia
            //     margin-right: 95px
                
            .company 
                position: static
                left: 191px
                h3 
                    width: 83px
                    left: 192px
                a 
                    left: 191px
            .support 
                left: 386px
                h3 
                    left: 386px
                a 
                    left: 386px
            .socialMedia
                left: 567px
                h3 
                    left: 567px
               
                i:nth-of-type(1)
                    left: 567px
                i:nth-of-type(2)
                    left: 611px
                i:nth-of-type(3)
                    left: 655px
        .bottomInfo
            width: 688px
            height: 24.3px
            left: 40px
            top: 345px
            img 
                position: static
                height: 21.3px
            p 
                position: absolute
                width: 194.74px
                height: 18px
                left: 493.26px
                top: 0px

@media (max-width: 428px) 
    .container footer
        position: relative
        width: 428px
        height: 545px
        top: 5464px
        .contentFooter 
            display: flex
            flex-direction: column
            position: relative
            width: 388px
            height: 370px
            left: 20px
            top: 50px
            .footerPartOne
                display: flex
                flex-direction: row
                align-items: flex-start
                padding: 0px
                position: static
                width: 292px
                height: 206px
                left: 0px
                top: 0px
                .product 
                    position: absolute
                    top: 0px
                    left: 0px
                .company 
                    position: absolute
                    left: 191px
                    top: 0px
                    h3 
                        width: 83px
                        left: 0px
                    a 
                        left: 0px
            .footerPartTwo
                display: flex
                flex-direction: row
                align-items: flex-start
                padding: 0px
                position: relative
                width: 301px
                height: 104px
                left: 0px
                top: 60px
                .support 
                    position: absolute
                    top: 0px
                    left: 0px
                    h3 
                        left: 0px
                    a 
                        left: 0px
                .socialMedia
                    position: absolute
                    top: 0px
                    left: 182px
                    h3 
                        left: 0px

                    i:nth-of-type(1)
                        left: 0px
                    i:nth-of-type(2)
                        left: 44px
                    i:nth-of-type(3)
                        left: 88px
        .bottomInfo
            width: 388px
            height: 26.53px
            left: 20px
            top: 488px
            img 
                position: static
                height: 26.53px
                width: 81.17px
            p 
                position: absolute
                left: 193.2px
                top: 4.27px




























