/* Zmienne */
.container main {
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  width: 1440px;
  top: 850px;
}

.container main .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: relative;
  width: 900px;
  height: 35.42px;
  left: 269px;
  top: 0px;
}

.container main section.partOne, .container main section.partTwo, .container main section.partThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1180px;
  height: 442.78px;
  left: 129px;
  top: 220px;
}

.container main section.partOne .contentPartOne, .container main section.partOne .contentPartTwo, .container main section.partOne .contentPartThree, .container main section.partTwo .contentPartOne, .container main section.partTwo .contentPartTwo, .container main section.partTwo .contentPartThree, .container main section.partThree .contentPartOne, .container main section.partThree .contentPartTwo, .container main section.partThree .contentPartThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: static;
  left: 66.1%;
  right: 0%;
  top: 15.11%;
  bottom: 15.11%;
}

.container main section.partOne .contentPartOne h2, .container main section.partOne .contentPartTwo h2, .container main section.partOne .contentPartThree h2, .container main section.partTwo .contentPartOne h2, .container main section.partTwo .contentPartTwo h2, .container main section.partTwo .contentPartThree h2, .container main section.partThree .contentPartOne h2, .container main section.partThree .contentPartTwo h2, .container main section.partThree .contentPartThree h2 {
  margin-bottom: 24px;
  position: static;
  width: 400px;
  left: calc(50% - 400px/2);
  top: 0%;
  bottom: 58.58%;
  font-family: 'Playfair Display';
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -1px;
}

.container main section.partOne .contentPartOne p, .container main section.partOne .contentPartTwo p, .container main section.partOne .contentPartThree p, .container main section.partTwo .contentPartOne p, .container main section.partTwo .contentPartTwo p, .container main section.partTwo .contentPartThree p, .container main section.partThree .contentPartOne p, .container main section.partThree .contentPartTwo p, .container main section.partThree .contentPartThree p {
  margin-bottom: 24px;
  position: static;
  width: 400px;
  left: calc(50% - 400px/2);
  top: 49.19%;
  bottom: 17.8%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: #9893A3;
}

.container main section.partOne .contentPartOne a, .container main section.partOne .contentPartTwo a, .container main section.partOne .contentPartThree a, .container main section.partTwo .contentPartOne a, .container main section.partTwo .contentPartTwo a, .container main section.partTwo .contentPartThree a, .container main section.partThree .contentPartOne a, .container main section.partThree .contentPartTwo a, .container main section.partThree .contentPartThree a {
  position: static;
  width: 100px;
  height: 22px;
  left: 0px;
  top: 0px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #2F2E41;
  border-bottom: 10px solid rgba(197, 194, 255, 0.5);
}

.container main section.partOne img, .container main section.partTwo img, .container main section.partThree img {
  position: static;
  left: 0%;
  right: 49.15%;
  top: 100%;
  bottom: -100%;
}

.container main section.partTwo {
  position: relative;
  height: 497.19px;
  top: 441.39px;
}

.container main section.partTwo img {
  position: static;
  left: 49.15%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.container main section.partTwo .contentPartTwo {
  position: static;
  left: 0%;
  right: 66.1%;
  top: 19.83%;
  bottom: 19.83%;
}

.container main section.partThree {
  position: relative;
  height: 406.08px;
  top: 661.39px;
}

.container main section.partThree .contentPartThree {
  position: static;
  top: 17.25%;
  bottom: 17.25%;
}

.container main section.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: relative;
  width: 1180px;
  height: 656px;
  left: 129px;
  top: 881.39px;
}

.container main section.pricing h2 {
  margin-bottom: 90px;
  position: static;
  height: 64px;
  left: 29.73%;
  right: 29.73%;
  top: calc(50% - 64px/2 - 296px);
  font-family: 'Playfair Display';
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2F2E41;
}

.container main section.pricing .pricingCardsGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: static;
  width: 1180px;
  height: 502px;
  left: 0px;
  top: 154px;
}

.container main section.pricing .pricingCardsGrid .starter, .container main section.pricing .pricingCardsGrid .premium, .container main section.pricing .pricingCardsGrid .enterprise {
  margin-right: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 46px 88px;
  position: static;
  width: 363px;
  height: 421px;
  left: 0px;
  top: 40.5px;
  background: rgba(236, 235, 255, 0.3);
  border-radius: 2px;
}

.container main section.pricing .pricingCardsGrid .starter p.title, .container main section.pricing .pricingCardsGrid .premium p.title, .container main section.pricing .pricingCardsGrid .enterprise p.title {
  position: static;
  width: 58px;
  height: 26px;
  left: calc(50% - 58px/2);
  top: calc(50% - 26px/2 - 151.5px);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #717082;
}

.container main section.pricing .pricingCardsGrid .starter p.price strong, .container main section.pricing .pricingCardsGrid .premium p.price strong, .container main section.pricing .pricingCardsGrid .enterprise p.price strong {
  position: static;
  width: 104px;
  height: 56px;
  left: calc(50% - 104px/2);
  top: calc(50% - 56px/2 - 80.5px);
  font-family: Open Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2px;
  text-align: center;
}

.container main section.pricing .pricingCardsGrid .starter p.price, .container main section.pricing .pricingCardsGrid .premium p.price, .container main section.pricing .pricingCardsGrid .enterprise p.price {
  font-weight: normal;
}

.container main section.pricing .pricingCardsGrid .starter .features, .container main section.pricing .pricingCardsGrid .premium .features, .container main section.pricing .pricingCardsGrid .enterprise .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: static;
  width: 150px;
  height: 106px;
  left: 114px;
  top: 188px;
}

.container main section.pricing .pricingCardsGrid .starter .features p, .container main section.pricing .pricingCardsGrid .premium .features p, .container main section.pricing .pricingCardsGrid .enterprise .features p {
  margin-bottom: 14px;
  position: static;
  width: 94px;
  height: 26px;
  left: 20.5px;
  top: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #717082;
}

.container main section.pricing .pricingCardsGrid .starter .features p:nth-child(2), .container main section.pricing .pricingCardsGrid .premium .features p:nth-child(2), .container main section.pricing .pricingCardsGrid .enterprise .features p:nth-child(2) {
  width: 135px;
  left: 0px;
  top: 40px;
}

.container main section.pricing .pricingCardsGrid .starter .features p:last-child, .container main section.pricing .pricingCardsGrid .premium .features p:last-child, .container main section.pricing .pricingCardsGrid .enterprise .features p:last-child {
  width: 103px;
  left: 20.5px;
  top: 80px;
}

.container main section.pricing .pricingCardsGrid .starter button, .container main section.pricing .pricingCardsGrid .premium button, .container main section.pricing .pricingCardsGrid .enterprise button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(236, 235, 255, 0.3);
  padding: 16px 30px;
  position: static;
  width: 142px;
  height: 51px;
  left: 111.5px;
  top: 324px;
  border: 1px solid #6C63FF;
  border-radius: 2px;
  position: static;
  left: calc(50% - 80px/2);
  top: calc(50% - 19px/2);
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #6C63FF;
  cursor: pointer;
}

.container main section.pricing .pricingCardsGrid .premium {
  padding: 70px 88px;
  height: 502px;
  left: 408px;
  top: 0px;
  background: #6C63FF;
}

.container main section.pricing .pricingCardsGrid .premium p.title {
  width: 78px;
  left: calc(50% - 78px/2);
  color: #FFF;
}

.container main section.pricing .pricingCardsGrid .premium p.price {
  width: 149px;
  left: calc(50% - 149px/2);
  color: #FFF;
}

.container main section.pricing .pricingCardsGrid .premium .features {
  position: static;
  width: 184px;
  height: 106px;
  left: 89.5px;
  top: 232px;
}

.container main section.pricing .pricingCardsGrid .premium .features p {
  position: static;
  width: 184px;
  height: 26px;
  left: 0px;
  top: 0px;
  color: rgba(255, 255, 255, 0.8);
}

.container main section.pricing .pricingCardsGrid .premium .features p:nth-child(2) {
  width: 150px;
  left: 17px;
  top: 40px;
}

.container main section.pricing .pricingCardsGrid .premium .features p:last-child {
  width: 136px;
  left: 26px;
  top: 80px;
}

.container main section.pricing .pricingCardsGrid .premium button {
  background: #FFF;
  width: 186px;
  height: 54px;
  left: 88.5px;
  top: 378px;
  border: 1px solid #FFF;
  font-size: 16px;
  line-height: 22px;
}

.container main section.pricing .pricingCardsGrid .enterprise {
  margin-right: 0;
  left: 816px;
}

.container main section.pricing .pricingCardsGrid .enterprise p.title {
  width: 87px;
  left: calc(50% - 87px/2);
}

.container main section.pricing .pricingCardsGrid .enterprise p.price strong {
  width: 149px;
  left: calc(50% - 149px/2);
}

.container main section.pricing .pricingCardsGrid .enterprise p.price {
  font-weight: normal;
}

.container main section.pricing .pricingCardsGrid .enterprise .features {
  width: 198px;
  left: 82.5px;
}

.container main section.pricing .pricingCardsGrid .enterprise .features p {
  width: 198px;
  left: 0px;
  top: 0px;
}

.container main section.pricing .pricingCardsGrid .enterprise .features p:nth-child(2) {
  width: 154px;
  left: 22px;
}

.container main section.pricing .pricingCardsGrid .enterprise .features p:last-child {
  width: 95px;
  left: 51.5px;
}

.container main section.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: relative;
  width: 1180px;
  height: 576px;
  left: 129px;
  top: 1101.39px;
}

.container main section.blog .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: static;
  width: 1180px;
  height: 64px;
  left: 0px;
  top: 0px;
}

.container main section.blog .heading h2 {
  position: static;
  height: 64px;
  left: 0;
  top: 0;
  font-family: 'Playfair Display';
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2F2E41;
}

.container main section.blog .heading button {
  position: static;
  width: 115px;
  height: 51px;
  left: 1065px;
  border: 1px solid #6C63FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  color: #6C63FF;
  font-size: 14px;
  line-height: 19px;
  background-color: #fff;
  cursor: pointer;
}

.container main section.blog .contentBlog {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1180px;
  height: 422px;
  left: 0px;
  top: 154px;
}

.container main section.blog .contentBlog .fusely, .container main section.blog .contentBlog .introducing, .container main section.blog .contentBlog .plan {
  margin-right: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 363.33px;
  height: 422px;
  left: 0px;
  top: 0px;
}

.container main section.blog .contentBlog .fusely img, .container main section.blog .contentBlog .introducing img, .container main section.blog .contentBlog .plan img {
  margin-bottom: 26px;
  position: static;
  width: 363.33px;
  height: 232px;
  left: 0px;
  top: 0px;
  border-radius: 2px;
}

.container main section.blog .contentBlog .fusely .contentArticle, .container main section.blog .contentBlog .introducing .contentArticle, .container main section.blog .contentBlog .plan .contentArticle {
  position: static;
  width: 363.33px;
  height: 164px;
  left: 0px;
  top: 258px;
}

.container main section.blog .contentBlog .fusely .contentArticle h3, .container main section.blog .contentBlog .introducing .contentArticle h3, .container main section.blog .contentBlog .plan .contentArticle h3 {
  margin-bottom: 6px;
  position: static;
  width: 363.33px;
  height: 32px;
  left: 0px;
  top: 0px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #2F2E41;
}

.container main section.blog .contentBlog .fusely .contentArticle p, .container main section.blog .contentBlog .introducing .contentArticle p, .container main section.blog .contentBlog .plan .contentArticle p {
  margin-bottom: 26px;
  position: static;
  width: 363.33px;
  left: 0px;
  top: 38px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9893A3;
}

.container main section.blog .contentBlog .fusely .contentArticle a, .container main section.blog .contentBlog .introducing .contentArticle a, .container main section.blog .contentBlog .plan .contentArticle a {
  display: block;
  position: static;
  width: 100px;
  height: 22px;
  left: 0px;
  top: 0px;
  text-decoration: none;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #2F2E41;
  border-bottom: 10px solid rgba(197, 194, 255, 0.5);
}

@media (max-width: 768px) {
  .container main {
    position: absolute;
    width: 688px;
    height: 5937px;
    left: 40px;
    top: 1237px;
  }
  .container main .partners {
    position: static;
    width: 688px;
    left: 0px;
    top: 0px;
  }
  .container main section.partOne, .container main section.partTwo, .container main section.partThree {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    height: 759.72px;
    width: 688px;
    left: 0px;
    top: 0px;
  }
  .container main section.partOne .contentPartOne, .container main section.partOne .contentPartTwo, .container main section.partOne .contentPartThree, .container main section.partTwo .contentPartOne, .container main section.partTwo .contentPartTwo, .container main section.partTwo .contentPartThree, .container main section.partThree .contentPartOne, .container main section.partThree .contentPartTwo, .container main section.partThree .contentPartThree {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 73.41%;
  }
  .container main section.partOne .contentPartOne h2, .container main section.partOne .contentPartTwo h2, .container main section.partOne .contentPartThree h2, .container main section.partTwo .contentPartOne h2, .container main section.partTwo .contentPartTwo h2, .container main section.partTwo .contentPartThree h2, .container main section.partThree .contentPartOne h2, .container main section.partThree .contentPartTwo h2, .container main section.partThree .contentPartThree h2 {
    position: static;
    width: 688px;
    left: 0%;
    top: 0%;
    bottom: 68.32%;
  }
  .container main section.partOne .contentPartOne p, .container main section.partOne .contentPartTwo p, .container main section.partOne .contentPartThree p, .container main section.partTwo .contentPartOne p, .container main section.partTwo .contentPartTwo p, .container main section.partTwo .contentPartThree p, .container main section.partThree .contentPartOne p, .container main section.partThree .contentPartTwo p, .container main section.partThree .contentPartThree p {
    position: static;
    width: 688px;
    left: 0%;
    top: 43.56%;
    bottom: 22.77%;
  }
  .container main section.partOne .contentPartOne a, .container main section.partOne .contentPartTwo a, .container main section.partOne .contentPartThree a, .container main section.partTwo .contentPartOne a, .container main section.partTwo .contentPartTwo a, .container main section.partTwo .contentPartThree a, .container main section.partThree .contentPartOne a, .container main section.partThree .contentPartTwo a, .container main section.partThree .contentPartThree a {
    position: static;
    width: 92px;
    height: 20px;
    left: calc(50% - 92px/2);
    top: 0px;
    text-decoration: none;
  }
  .container main section.partOne img, .container main section.partTwo img, .container main section.partThree img {
    position: static;
    height: 507.72px;
    width: 688px;
    left: 100%;
    right: -100%;
    top: 0px;
    bottom: 0%;
  }
  .container main section.partTwo {
    position: relative;
    height: 824.53px;
  }
  .container main section.partTwo img {
    position: static;
    left: 0%;
    right: 0%;
    top: 30.56%;
    bottom: 0%;
    height: 572.53px;
  }
  .container main section.partThree {
    position: relative;
    height: 717.64px;
    top: 0px;
  }
  .container main section.partThree img {
    height: 465.64px;
    margin-top: 52px;
  }
  .container main section.pricing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 688px;
    height: 1588px;
    left: 0px;
    top: 140px;
  }
  .container main section.pricing h2 {
    left: 0%;
    right: 14.71%;
    top: calc(50% - 64px/2 - 762px);
  }
  .container main section.pricing .pricingCardsGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: static;
    width: 688px;
    height: 1434px;
    left: 0px;
    top: 154px;
  }
  .container main section.pricing .pricingCardsGrid .starter {
    margin-bottom: 45px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: static;
    width: 688px;
    height: 421px;
    left: 0px;
    top: 0px;
  }
  .container main section.pricing .pricingCardsGrid .starter p.price strong {
    line-height: 116px;
  }
  .container main section.pricing .pricingCardsGrid .starter .features {
    margin-bottom: 16px;
    width: 135px;
    left: 276.5px;
  }
  .container main section.pricing .pricingCardsGrid .starter .features p {
    text-align: center;
    color: #717082;
  }
  .container main section.pricing .pricingCardsGrid .starter .features p:nth-child(2) {
    width: 135px;
    left: 0px;
    top: 40px;
  }
  .container main section.pricing .pricingCardsGrid .starter .features p:last-child {
    margin-bottom: 14px;
    width: 103px;
    left: 20.5px;
    top: 80px;
  }
  .container main section.pricing .pricingCardsGrid .starter button {
    position: static;
    height: 51px;
    width: 142px;
    left: 274px;
    top: 324px;
    border: 1px solid #6C63FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px;
  }
  .container main section.pricing .pricingCardsGrid .premium, .container main section.pricing .pricingCardsGrid .enterprise {
    margin-bottom: 45px;
    width: 688px;
  }
  .container main section.blog {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    width: 688px;
    height: 940px;
    left: 0px;
    top: 4580.31px;
  }
  .container main section.blog .heading {
    width: 688px;
  }
  .container main section.blog .contentBlog {
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 688px;
    height: 786px;
  }
  .container main section.blog .contentBlog .fusely, .container main section.blog .contentBlog .introducing, .container main section.blog .contentBlog .plan {
    margin-bottom: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 688px;
    height: 232px;
  }
  .container main section.blog .contentBlog .fusely img, .container main section.blog .contentBlog .introducing img, .container main section.blog .contentBlog .plan img {
    width: 353px;
  }
  .container main section.blog .contentBlog .fusely .contentArticle, .container main section.blog .contentBlog .introducing .contentArticle, .container main section.blog .contentBlog .plan .contentArticle {
    margin-left: 27px;
    padding-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: static;
    width: 308px;
    left: 0px;
  }
  .container main section.blog .contentBlog .fusely .contentArticle h3, .container main section.blog .contentBlog .introducing .contentArticle h3, .container main section.blog .contentBlog .plan .contentArticle h3 {
    width: 308px;
  }
  .container main section.blog .contentBlog .fusely .contentArticle p, .container main section.blog .contentBlog .introducing .contentArticle p, .container main section.blog .contentBlog .plan .contentArticle p {
    width: 308px;
  }
  .container main section.blog .contentBlog .introducing .contentArticle, .container main section.blog .contentBlog .plan .contentArticle {
    padding-top: 21px;
  }
}

@media (max-width: 428px) {
  .container main {
    position: absolute;
    width: 388px;
    height: 5010.48px;
    left: 20px;
    top: 863px;
  }
  .container main .partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
    width: 388px;
    height: 95px;
    left: 0px;
    top: 0px;
  }
  .container main .partners img {
    margin-right: 45.74px;
  }
  .container main .partners img:nth-of-type(3) {
    margin-right: 0;
  }
  .container main .partners img:nth-of-type(4) {
    margin-left: 67.41px;
  }
  .container main section.partOne, .container main section.partTwo, .container main section.partThree {
    margin-top: 100px;
    position: relative;
    height: 509px;
    width: 388px;
    left: 0px;
    top: 0px;
  }
  .container main section.partOne .contentPartOne, .container main section.partOne .contentPartTwo, .container main section.partOne .contentPartThree, .container main section.partTwo .contentPartOne, .container main section.partTwo .contentPartTwo, .container main section.partTwo .contentPartThree, .container main section.partThree .contentPartOne, .container main section.partThree .contentPartTwo, .container main section.partThree .contentPartThree {
    position: static;
    width: 388px;
    left: calc(50% - 388px/2 - 0px);
    top: 0%;
    bottom: 61.49%;
  }
  .container main section.partOne .contentPartOne h2, .container main section.partOne .contentPartTwo h2, .container main section.partOne .contentPartThree h2, .container main section.partTwo .contentPartOne h2, .container main section.partTwo .contentPartTwo h2, .container main section.partTwo .contentPartThree h2, .container main section.partThree .contentPartOne h2, .container main section.partThree .contentPartTwo h2, .container main section.partThree .contentPartThree h2 {
    margin-bottom: 16px;
    position: static;
    width: 388px;
    height: 40px;
    left: 0%;
    top: 0%;
    font-size: 34px;
    line-height: 40px;
  }
  .container main section.partOne .contentPartOne p, .container main section.partOne .contentPartTwo p, .container main section.partOne .contentPartThree p, .container main section.partTwo .contentPartOne p, .container main section.partTwo .contentPartTwo p, .container main section.partTwo .contentPartThree p, .container main section.partThree .contentPartOne p, .container main section.partThree .contentPartTwo p, .container main section.partThree .contentPartThree p {
    margin-bottom: 16px;
    position: static;
    width: 388px;
    left: calc(50% - 388px/2);
    top: 28.57%;
    bottom: 19.39%;
  }
  .container main section.partOne img, .container main section.partTwo img, .container main section.partThree img {
    margin-top: 32px;
    height: 283px;
    width: 388px;
    left: 100%;
    top: 44.4%;
  }
  .container main section.partTwo {
    height: 548.88px;
  }
  .container main section.partTwo img {
    top: 41.17%;
    height: 322.88px;
  }
  .container main section.partThree {
    height: 454.6px;
  }
  .container main section.partThree img {
    height: 262.6px;
    margin-top: 32px;
  }
  .container main section.pricing {
    position: relative;
    width: 388px;
    height: 1466px;
    left: 0px;
    top: 100px;
  }
  .container main section.pricing h2 {
    margin-bottom: 40px;
    height: 40px;
    line-height: 40px;
    left: 0%;
    right: 11.52%;
    top: calc(50% - 40px/2 - 713px);
    font-size: 34px;
  }
  .container main section.pricing .pricingCardsGrid {
    position: relative;
    width: 388px;
    height: 1386px;
    left: 0px;
    top: 0px;
  }
  .container main section.pricing .pricingCardsGrid .starter {
    margin-bottom: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
    width: 388px;
    height: 415px;
  }
  .container main section.pricing .pricingCardsGrid .premium, .container main section.pricing .pricingCardsGrid .enterprise {
    margin-bottom: 24px;
    width: 388px;
  }
  .container main section.blog {
    position: absolute;
    width: 388px;
    height: 1437px;
    left: 0px;
    top: 3578.98px;
  }
  .container main section.blog .heading {
    width: 388px;
    height: 51px;
  }
  .container main section.blog .heading h2 {
    font-size: 34px;
  }
  .container main section.blog .contentBlog {
    margin-top: 40px;
    width: 388px;
    height: 422px;
  }
  .container main section.blog .contentBlog .fusely, .container main section.blog .contentBlog .introducing, .container main section.blog .contentBlog .plan {
    margin-right: 0px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 388px;
    height: 422px;
  }
  .container main section.blog .contentBlog .fusely img, .container main section.blog .contentBlog .introducing img, .container main section.blog .contentBlog .plan img {
    width: 388px;
  }
  .container main section.blog .contentBlog .fusely .contentArticle, .container main section.blog .contentBlog .introducing .contentArticle, .container main section.blog .contentBlog .plan .contentArticle {
    margin-left: 0px;
    padding-top: 0px;
    width: 388px;
    left: 0px;
  }
  .container main section.blog .contentBlog .fusely .contentArticle h3, .container main section.blog .contentBlog .introducing .contentArticle h3, .container main section.blog .contentBlog .plan .contentArticle h3 {
    width: 388px;
  }
  .container main section.blog .contentBlog .fusely .contentArticle p, .container main section.blog .contentBlog .introducing .contentArticle p, .container main section.blog .contentBlog .plan .contentArticle p {
    width: 388px;
  }
}
/*# sourceMappingURL=main.css.map */